@use '../../../partials/fonts';

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

.carousel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    max-width: 100%;
    overflow: hidden;
    margin-right:24px;
  }
  .carousel__btn {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.5rem;
    border: none;
    padding: 1rem;
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.3s;
  }

  .carousel__btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .carousel__btn--prev {
    right: 0;
  }

  .carousel__btn--next {
    right: 0;
  }
  .carousel__text {
    width: 100%;
    height: auto;
    display: block;
    padding: 10px;
    padding-left: 16px;
    transition: transform 0.3s ease-in-out;
    background: linear-gradient(rgba(151, 148, 148, 0.2),rgba(151, 148, 148, 0.2));
    line-height: 1.75rem;
    z-index: 2;
  }

  .carousel__initial-text{
    text-transform: uppercase;
    padding-left: 16px;

  }

  .carousel__img:hover {
    transform: scale(1.05);
  }

  .invisible{
    display: none;
  }
  